.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
}

.card {
    width: 310px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    position: relative;
}

.image {
    background-image: url(POKEBALL3.png);
    background-size: cover;
    background-position: center;
}
.image img {
    width: 100%;
    height: 100%;
}

.detailsviolet {
    padding: 20px;
    background-color: #A33EA1
}
.detailsgreen {
    padding: 20px;
    background-color: #7AC74C
}
.detailsrock {
    padding: 20px;
    background-color: #B6A136
}
.detailswater {
    padding: 20px;
    background-color: #6390F0
}
.detailsdragon {
    padding: 20px;
    background-color: #6F35FC
}
.detailsfire {
    padding: 20px;
    background-color: #EE8130
}

.name {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
}

.type {
    margin: 10px;
    font-weight: bold;
}

.desc {
    margin-top: 10px;
    font-weight: bold;
}

.button {
    margin-top: 20px;
    text-align: center;
}

.button button {
    font-weight: bold;
    padding: 8px 20px;
    margin: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button button.add {
    background-color: #4caf50;
    color: #fff;
}

.button button.release {
    background-color: #f44336;
    color: white
}
.Poison {
    padding: 8px 20px;
    background-color: magenta;
    color: white;
    margin:  auto;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}    
.Ground {
    padding: 8px 20px;
    background-color: #E2BF65;
    color: white;
    margin:  auto;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}    
.Grass {
    padding: 8px 20px;
    background-color: green;
    color: white;
    margin:  auto;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}    
.Rock {
    padding: 8px 20px;
    background-color: #e6c315;
    color: white;
    margin:  auto;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}    
.Water {
    padding: 8px 20px;
    background-color: #2455be;
    color: white;
    margin:  auto;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}    
.Psychic {
    padding: 8px 20px;
    background-color: #F95587;
    color: white;
    margin:  auto;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}   
.Dragon {
    padding: 8px 20px;
    background-color: #48357a;
    color: white;
    margin:  auto;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}   
.Flying {
    padding: 8px 20px;
    background-color: #A98FF3;
    color: white;
    margin:  auto;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}  
.Fire {
    padding: 8px 20px;
    background-color: #fc6d00;
    color: white;
    margin:  auto;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}  
body {
    background-image: url("BGPOKEMON.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


 
 
